catkin-pkg==0.5.2
distro==1.7.0
docutils==0.18.1
fastdtw==0.3.4
gekko==1.0.4
igraph==0.9.10
joblib==1.1.0
networkx==2.8.2
numpy==1.22.4
opencv-python==4.5.5.64
pygame==2.1.2
pyparsing==3.0.9
pyquaternion==0.9.9
python-dateutil==2.8.2
python-igraph==0.9.10
PyYAML==6.0
rospkg==1.4.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
texttable==1.6.4
threadpoolctl==3.1.0
